.profileForm {
  margin: 0;
}
.button {
  margin: 0px 0px 0px 15%;
}

.profiles-page {
  margin: 10%;
}
.view-profile {
  margin: 10px;
}
.profile-username {
  font-size: 7em;
  margin: 0px 50px;
}
.user-icon {
  font-size: 100px;
  float: right;
  margin-right: 80px;
}

.social-icon {
  font-size: 1em;
  margin: 0px 15px;
  width: auto;
}
.profile-item {
  margin: 1% 0;
}

.profile-bio {
  margin: 20px 50px 0px 50px;
  font-size: 2em;
}
.search-profiles {
  max-width: 80%;
  margin: 5% 0;
}

/* .profile-posts {
} */
@media only screen and (max-width: 600px) {
  .profile-username {
    font-size: 4em;
    text-align: center;
  }
  .user-icon {
    float: none;
    margin: 20px;
  }
  .social-icon {
    font-size: 1.5em;
    text-align: center;
    margin: 0;
    display: inline-block;
  }
  .profile-bio {
    text-align: center;
    display: block;
    margin: auto;
  }
}
