@import "~antd/dist/antd.css";

.content {
  min-height: 90vh;
}
.error {
  color: red;
  padding: 0;
  margin: 0;
}

.center {
  margin: auto;
  text-align: center;
  justify-content: center;
  align-content: center;
}
