.posts-item {
  margin: 4% auto;
  width: 70%;
}
.post-text {
  font-size: 1.5em;
  margin: 5%;
  white-space: pre-line;
}
.post-title {
  font-size: 6em;
}
.post-image {
  display: block;
  margin: 0 auto;
  width: 30%;
  height: 300px;
}
.edit-image {
  width: 70%;
  margin: 2% auto;
}
.post-username {
  text-align: right;
  margin: 2% 10%;
  font-weight: bold;
  font-size: 1.5em;
}
.delete-button {
  float: right;
  margin: 0% 5%;
}
.like-button {
  font-size: 2em;
  margin: 0 5%;
}
.like-num {
  margin: 0 2.5%;
  font-size: 1em;
}
.error-like {
  margin: 0 2.5%;
  font-size: 1em;
}
.post-button {
  margin: 1%;
}

.indi-comment {
  margin: 20px;
  font-size: 1em;
}
.comment-username {
  margin: 1% 0%;
}

.post-feed-item-text {
  white-space: pre-line;
  color: rgba(0, 0, 0, 0.65);
}
.post-feed-title {
  color: rgba(0, 0, 0, 0.65);
}
.read-more {
  color: #1890ff;
}
@media only screen and (max-width: 600px) {
  .post-title {
    font-size: 3em;
    width: auto;
  }
  .post-image {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 250px;
  }
  .post-text {
    font-size: 2em;
  }
  .delete-button {
    top: 10px;
  }
}
