.ant-carousel .slick-slide {
  text-align: center;
  height: 500px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}

.carousel {
  width: 80%;
  margin: auto;
}
.carouselItem {
  padding-top: 150px;
  color: white;
}
.carouselTitle {
  font-size: 50px;
  text-align: center;
}
.Home {
  margin: 5%;
}
.block-button {
  width: 80%;
  height: 70px;
  text-align: center;
}

.gif {
  width: 50%;
  display: block;
  height: 400px;
}

@media only screen and (max-width: 600px) {
  .gif {
    visibility: hidden;
    width: 0%;
    display: none;
    height: 0;
  }
}
