.Header {
  font-size: 100px;
  text-align: center;
  height: auto;
  color: #707070;
  margin: 2%;
}
.nav {
  text-align: center;
  padding-top: 1%;
}
.navItem {
  font-weight: 600;
}

.quote {
  font-size: 20px;
  color: #a8a8a8;
}

.link {
  color: inherit;
}

.greeting {
  margin-left: 20%;
}

.leftBar {
  position: fixed;
  left: 0;
  margin: 0 0% 0% 1.5%;
  padding: 20% 0%;
  top: 0;
  float: left;
  overflow-x: hidden;
  z-index: -1;
}
.leftBarImg {
  padding: 0;
  margin: 0;
  width: 30%;
  height: 100%;
}

.rightBar {
  position: fixed;
  right: 0;
  margin: 0 1.5% 0% 0%;
  padding: 20% 0%;
  top: 0;
  overflow-x: hidden;
  float: left;
  z-index: -1;
}
.rightBarImg {
  padding: 0;
  margin: 0;
  width: 30%;
  float: right;
  height: 100%;
}

@media only screen and (max-width: 600px) {
  .leftBar {
    visibility: hidden;
  }
  .rightBar {
    visibility: hidden;
  }
}
@media only screen and (max-width: 1100px) {
  .leftBar {
    position: fixed;
    left: 0;
    margin: 0 0% 0% 1.5%;
    width: 15%;
    padding: 45% 0%;
    top: 0;
    overflow-x: hidden;
    z-index: -1;
  }
  .rightBar {
    position: fixed;
    right: 0;
    width: 15%;
    margin: 0 1.5% 0% 0%;
    padding: 45% 0%;
    top: 0;
    z-index: -1;
    overflow-x: hidden;
  }
}
